/*--RESET-- */
body {
  all: unset;
  overscroll-behavior-y: none;
}

/*--LAYOUT-- */

#table {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#foodSection {
  padding: 20px;
  background-color: rgb(175, 175, 175);
  height: 100vh;
}

#contentSection {
  padding: 20px;
  background: rgb(175, 175, 175);
  flex-direction: column;
}

.relativeContainer {
  position: relative;
}

.projectMedia {
  max-width: 50vw;
}
.flexCol {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.plateContainer {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
}
#shapesContainer {
  isolation: isolate;
}
#plate {
  /* flex: 1; */

  width: 50vw;
  height: 50vw;
  /* top: 70px;
  left: 15px; */
  /* min-height: 100%;
  min-width: 100%; */

  /* position: absolute;*/
  /* z-index: -999; */

  border-radius: 50%;
  z-index: 1;
  background-color: rgba(219, 219, 219, 0.233);
  @include filter-gradient(#e2e1e7, #d2d1d7, vertical); // IE6-9
  @include background-image(
    linear-gradient(top, rgba(226, 225, 231, 1) 0%, rgba(210, 209, 215, 1) 100%)
  );
  box-shadow: 0 -5px 4px -2px rgba(79, 77, 77, 0.3),
    0 0 3px 2px rgba(1, 1, 1, 0.2) inset;

  /* &-inner {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 15%;
    top: 15%;
    display: block;
    border-radius: 999em;
    box-shadow: 0 20px 10px -5px rgba(255, 255, 255, 0.145) inset,
      0 -20px 10px -5px rgba(161, 161, 161, 0.205) inset;
  } */
}

#logo {
  max-width: 50px;
}
#menu {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
}

.absoluteItem {
  position: absolute;
  display: block;
}
/* @-webkit-keyframes toBlack {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
} */

/* img {
    max-width:100%;
    height:auto;
    max-height:100%;
 } */

.shape {
  transition: transform 2s ease-in-out;
  mix-blend-mode: soft-light;
  /* isolation: isolate; */

  z-index: 10;
  height: 30vh;
  width: 30vw;
  scale: 100%;

  /* -webkit-animation-name: blackWhite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 2s; */
}

.shape:hover {
  transform: rotate(44deg) scale(134%);
}

.shape.clicked {
  transition: 3s;
  /* margin-left: 100%; */
  background-color: hsla(0, 0%, 100%, 0) !important;

  scale: 0% !important;
}

/* --IDIVIDUAL SHAPES-- */

.parallelogram {
  top: 70px;
  left: 15px;

  transform: skew(20deg) rotate(20deg);
}
.circle {
  top: 70px;
  left: 15px;

  border-radius: 50%;
}

.flower {
  top: 170px;
  left: 15px;

  aspect-ratio: 1;
  --g: /33.334% 33.334% radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;
  mask: 100% 50% var(--g), 75% 93.301% var(--g), 25% 93.301% var(--g),
    0% 50% var(--g), 25% 6.699% var(--g), 75% 6.699% var(--g),
    radial-gradient(100% 100%, #000 28.868%, #0000 calc(28.868% + 1px));
}

.hexagon {
  top: 0px;
  left: 35px;

  aspect-ratio: 1 / cos(30deg);
  clip-path: polygon(50% -50%, 100% 50%, 50% 150%, 0 50%);
}

.starburst {
  top: 0px;
  left: 35px;

  aspect-ratio: 1;
  clip-path: polygon(
    100% 50%,
    79.74% 53.92%,
    98.3% 62.94%,
    77.72% 61.48%,
    93.3% 75%,
    73.8% 68.26%,
    85.36% 85.36%,
    68.26% 73.8%,
    75% 93.3%,
    61.48% 77.72%,
    62.94% 98.3%,
    53.92% 79.74%,
    50% 100%,
    46.08% 79.74%,
    37.06% 98.3%,
    38.52% 77.72%,
    25% 93.3%,
    31.74% 73.8%,
    14.64% 85.36%,
    26.2% 68.26%,
    6.7% 75%,
    22.28% 61.48%,
    1.7% 62.94%,
    20.26% 53.92%,
    0% 50%,
    20.26% 46.08%,
    1.7% 37.06%,
    22.28% 38.52%,
    6.7% 25%,
    26.2% 31.74%,
    14.64% 14.64%,
    31.74% 26.2%,
    25% 6.7%,
    38.52% 22.28%,
    37.06% 1.7%,
    46.08% 20.26%,
    50% 0%,
    53.92% 20.26%,
    62.94% 1.7%,
    61.48% 22.28%,
    75% 6.7%,
    68.26% 26.2%,
    85.36% 14.64%,
    73.8% 31.74%,
    93.3% 25%,
    77.72% 38.52%,
    98.3% 37.06%,
    79.74% 46.08%
  );
}
.scalloped-box {
  top: 0px;
  left: 35px;

  --r: 30px; /* radius of circles */
  aspect-ratio: 1;
  padding: calc(1.5 * var(--r));
  mask: linear-gradient(#000 0 0) no-repeat 50% / calc(100% - 2 * var(--r))
      calc(100% - 2 * var(--r)),
    radial-gradient(farthest-side, #000 97%, #0000) 0 0 / calc(2 * var(--r))
      calc(2 * var(--r)) round;
}
