html, body {
  width: 100%;
  height: 100%;
}

h1, h2, p, button, a, li, .logotext-M, .logotext-FF, .logotext-W {
  font-family: Necto Mono;
}

h1 {
  margin: 1em auto;
  width: 60vw;
}

.central, h1 {
  text-align: center;
}

a, a:visited {
  color: white;
}

a:hover {
  color: yellow;
}

svg {
  display: block;
}

.logotext-M, .logotext-FF, .logotext-W {
  font-size: 48px;
  fill: black;
}

.logo-website {
  max-width: 600px;
  display: block;
  margin: auto;
}

.logobox-M, .logobox-FF, .logobox-W {
  fill: yellow;
}

.logobox-M:hover, .logobox-FF:hover, .logobox-W:hover, .logobox-hidden-M, .logobox-hidden-FF, .logobox-hidden-W, .logobox-M:active {
  fill: tomato;
}

.logobox-M:hover ~ .logobox-hidden-M, .logobox-FF:hover ~ .logobox-hidden-FF, .logobox-W:hover ~ .logobox-hidden-W, .logobox-W:hover ~ .logobox-hidden-W  {
  height: 88px;
  transition: height 2s;
}

.logobox-M:hover ~ .logotext-M, .logobox-FF:hover ~ .logotext-FF, .logobox-W:hover ~ .logotext-W {
  fill: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: 16px;
  max-width: auto;
  margin: 0 auto;
  padding: 20px 10px;
}

.flex-item {
  background: tomato;
  min-width: 250px;
  margin: 5px;
  padding: 20px;
  color: white;
  flex: 1 0 0px;
}

li {
  margin: 10px;
}

.logos {
  fill:#FFFFFF;
}

.logos:hover {
  fill: yellow;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 12px 8px;
  display:inline-flex;
}

/* FOR GAME */

canvas {
  background: tomato;
}
button {
  display: block;
}