@font-face {
  font-family: "Necto Mono";
  src: url("NectoMono-Regular.woff2") format("woff2");
}

html, body {
  width: 100%;
  height: 100%;
  scrollbar-width: none
}

h1, h2, p, button, a, li, .logotext-M, .logotext-FF, .logotext-W, .h2-image {
  font-family: "Necto Mono";
}

.central, h1 {
  text-align: center;
}

a, a:visited {
  color: white;
}

a:hover, .flex-image:hover {
  color: yellow;
}

svg {
  display: block;
}

img {
  height: 100%;
}

.logotext-M, .logotext-FF, .logotext-W {
  font-size: 48px;
  fill: black;
  font-weight: bold;
}

.logo-website {
  max-width: 600px;
  display: block;
  margin: auto;
}

.logobox-M, .logobox-FF, .logobox-W, .logobox-hidden-M, .logobox-hidden-FF, .logobox-hidden-W {
  fill: yellow;
}

.logo-FF-wrapper:hover .logobox-FF,
.logo-M-wrapper:hover .logobox-M,
.logo-W-wrapper:hover .logobox-W {
  fill: tomato;
  transition: fill 0.5s;
}

.logo-FF-wrapper:hover .logobox-hidden-FF,
.logo-M-wrapper:hover .logobox-hidden-M,
.logo-W-wrapper:hover .logobox-hidden-W {
  height: 88px;
  fill: tomato;
  transition: height 2s, fill 0.5s;
}

.logo-FF-wrapper:hover ~ .logotext-FF,
.logo-M-wrapper:hover ~ .logotext-M,
.logo-W-wrapper:hover ~ .logotext-W,
.logo-FF-wrapper:hover .logotext-FF,
.logo-M-wrapper:hover .logotext-M,
.logo-W-wrapper:hover .logotext-W {
  fill: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: 16px;
  max-width: auto;
  margin: 0 auto;
  padding: 20px 10px;
}

.flex-item, .flex-image {
  min-width: 300px;
  margin: 5px;
  color: white;
  flex: 1;
}

.flex-item {
  background: tomato;
  min-width: 250px;
  padding: 20px;
}

.flex-image {
  overflow: hidden;
  justify-content: center;
  display: flex;
  position: relative;
}

.flex-item:hover, .flex-image:hover {
  margin: 0;
  transition: margin 1s;
}

.h2-image {
  justify-content: left;
  align-items: center;
  display: flex;
  color: yellow;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  font-size: 5vh;
  opacity: 0%;
  }

  .flex-image:hover img {
    opacity: 50%;
    transition: 1s;
  }
  
  .flex-image:hover .h2-image{
    color: black;
    opacity: 100%;
    transition: 0.5s;
  }

li {
  margin: 10px;
}

.logos {
  fill:#FFFFFF;
}

.logos:hover {
  fill: yellow;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 12px 8px;
  display: inline-flex;
}

/* FOR GAME */

.game-canvas {
  margin: 0;
  padding: 0;
  background: tomato;
  overflow: hidden; /* Hide scrollbars */
}

button {
  display: block;
  margin: 20px auto;
}

canvas {
  background: tomato;
}

h1 {
  font-size: 14vw;
  margin: 0 0;
}

h1, h2, .white-text {
  color: white;
}

.start-button, .key-white, .key-yellow {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: black;
  border-color: black;
  border:3px solid;
  box-shadow: 0 9px black;
  margin-top: 0;
}

.start-button {
  padding: 15px 25px;
  font-size: 24px;
  border-radius: 15px;
}

.key-white, .key-yellow {
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 12px;
  margin-bottom: 12px;
}

.start-button, .key-white {
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
}

.key-yellow {
  background-color: yellow;
  gap: 5px;
}

.margin-left {
  margin-left: 50vw;
}

.margin-right {
  margin-right: 50vw;
}

.keyboard {
  display: flex;
  justify-content: center;
}

.start-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.start-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.start-button:hover {
  transition: 0.5s;
  background-color: yellow;
}

.start-button:hover span {
  padding-right: 25px;
}

.start-button:hover span:after {
  opacity: 1;
  right: 0;
}

.start-button:active, .key-white:active, .key-yellow:active {
  box-shadow: 0 5px black;
  transform: translateY(4px);
}

.sound {
  width: 20px;
  height: 20px;
  margin: 10px;
  fill: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.sound:hover {
  fill: yellow;
}

.icon-stroke {
  stroke:black;
  stroke-width: 1.5px;
}

.icon-fill {
  fill: yellow;
}

.icon {
  width: 80px;
  height: 80px;
  margin: 5px 20px;
  display: inline-flex;
  fill: white;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}