h1, h2, p, button, a, li {
  font-family: Necto Mono;
}

h1 {
  margin: 1em auto;
  width: 60vw;
}

.central, h1 {
  text-align: center;
}

a, a:visited {
  color: white;
}

a:hover {
  color: yellow;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  gap: 16px;
  max-width: auto;
  margin: 0 auto;
  padding: 20px 10px;
}

.flex-item {
  background: tomato;
  min-width: 250px;
  margin: 5px;
  padding: 20px;
  color: white;
  flex: 1 0 0px;
}

li {
  margin: 10px;
}

.logo {
  width: 40px;
  margin: 8px;
}

/* FOR GAME */

canvas {
  background: tomato;
}
button {
  display: block;
}