@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}
/*navbar*/
header {
    width: 100%;
    background-color: #89916c;
    /*justify-content: space-between;
    align-items: center;*/
    position: fixed;
    z-index: 1000;
  }
.header-content {
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}
.header-logo {
    display: flex;
    align-items: center;
    /*cursor:pointer;*/
    color: black;
}
  
#logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
  }
  
  h1 {
    color: #f1be32;
    font-size: min(5vw, 1.2em);
    text-align: center;
  }
  
.header-main ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-inline-start: 0;
    margin-block: 0;
    height: 100%;
  }
  
  .header-main > ul > li {
    color: #e7ded2;
    margin: 0 0.2rem;
    padding: 0.2rem;
    display: block;
  }
  
  .header-main > ul > li:hover {
    background-color: #e7ded2;
    color: #464c2f;
    cursor: pointer;
    border-radius: 5px;
  }
  
  li > a {
    color: inherit;
    text-decoration: none;
  }

body {
    background-color:#d4d2bf;
    box-sizing: border-box;
    position:relative;
    line-height: 1.5;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    /*overflow-x: hidden;
    overflow-y: scroll;*/
  }

h1,h2,p {
   text-align: center;
  }

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family:inherit;
}
.sec-pad {
    padding: 12rem 0;
}

/*home*/
.home {
    color:#464c2f; /*#e7ded2*/
    background-image: url(./assets/back_image.jpg);
    background-position: center;
    height: 90vh;
    /*min-height: 80rem;
    max-height: 120rem;*/
    position: relative;
}
.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90rem;
    width: 92%;
}
.heading-home {
    font-size: 3rem;
    letter-spacing: 3px;
    text-align: center;
    color:#464c2f;
    font-weight: 600;
}
.home-info {
    margin: 3rem auto 0 auto;
    max-width: 80rem;
}
.text-home {
    color:#464c2f;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    margin-bottom: 2rem;
}
.home-link {
    text-align: center;
}
.btn {
    background:#89916c;
    color: #e7ded2;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    border:#89916c;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.15);
    padding: 1rem 3rem;
    font-size: 1rem;
}
a {
    color: #464c2f;
}
/*div {
    display: block;
    unicode-bidi: isolate;
}*/

/*about*/
.about {
    background-color: #f1c76f;
}
.sec-pad {
    padding: 4rem 0;
}
.main-container {
    max-width: 120rem;
    margin:auto;
    width: 92%;
}
.main-container p {
    display: block;
    text-align: center;
    font-size: 1rem;
    color: #464c2f;
    font-weight: 500;
    max-width: 80rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}
.main-container p.intro {
    font-size: 1.2rem;
    text-align: center;
}

.heading {
    color:#464c2f;
    display: block;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
}
.about-me {
    display:block;
    text-align: center;
    font-size: 1.2rem;
    max-width:80rem;
    margin: auto;
    font-weight: 500;
    line-height: 1.6;
}
.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}
.skills {
    display: flex;
    flex-wrap: wrap;
}
.skills-skill {
    padding: 1rem 1rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.2rem;
    background: #afad8c;
    border-radius: 5px;
    font-weight: 600;
    color: #464c2f;
}

/*projects*/
.projects {
    background-color: #f7d48e;
}
.projects-row {
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    grid-gap: 5rem;
    margin-bottom: 1rem;
}
.projects-row p {
    text-align: left;
    margin-bottom: 2rem;
}
h3 {
    color:#464c2f;
}
.projects-row-img {
    width: 100%;
    height: auto;
    display:block;
    object-fit:cover;
}
.projects-row-img-content {
    overflow: hidden;
}

.projects-row-content {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.projects-row-content h3 {
    font-weight: 700;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
    padding: 5px;
}
/** {
    box-sizing: border-box;
}*/

/*contact*/
.contact {
    background-color: #f5d9a0;
}
.contact-form-container {
    background: #89916c;
    padding: 2rem;
    max-width: 40rem;
    text-align: right;
    width: 55%;
    border-radius: 5px;
    margin: 2rem auto 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact-form-field {
    margin-bottom: 2rem;
}

.contact-form-label {
    color:#464c2f;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}
.contact-form-input {
    color: #464c2f;
    padding: 1rem;
    width: 100%;
    border: 1px solid #afad8c;
    font-size: 1rem;
    letter-spacing: 0px;
    background: #e7ded2;
    border-radius: 5px;
    font-weight: 500;
}
textarea {
    resize:none;
}
.contact-btn {
    background: #464c2f;
    color: #e7ded2;
}
/* This is the style of our error messages */
/*.error-message {
    color: #1bca2f;
    font-size: 14px;
    font-weight: 600;
    margin-top: 3px;
}*/

/*Modal Box*/
.modal {
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: whitesmoke;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #afad8c;
    width: 80%; 
    border-radius: 5px;
    text-align: center;
    color:#464c2f;
}
.hide {
	display: none;
}
/* The Close Button*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*footer*/
.main-footer {
    max-width: 120rem;
    margin: auto;
    width: 80%;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.contact-social-links {
    text-align: center;
}

.contact-social-links a {
    display: inline-block;
    margin-right: 1rem;
    text-decoration: none;
    vertical-align: middle;
}

.contact-social-links a:last-child {
    margin-right: 0;
}

.social-icon {
    width: 2.1rem;
    vertical-align: middle;
}

