/* Interesting tip: 
CSS is applied by giving specificity priority. 
Also by position here - priority given to later definitions 
*/
/* 
TODO: Dropdown CSS not showing white on hover
TODO: Border on Ascii art not rendering as #eee (just in chrome?) 
*/

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #222;
    color: #eee;
    margin-top: 10px;
    font-size: 16px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.title_container {
  vertical-align: center;
  display: inline-block;
  margin-left: 20px;
  padding-left: 20px;
}

.ascii-art {
  white-space: normal;
  border: 2px solid #eee;
  padding: 15px 15px 20px 15px;
  border-radius: 20px;
}

.navbox {
  color: #eee;
  margin: 10px;
  margin-left: auto;
}

.back_button_container {
  display: flex;
  justify-content: flex-end;
}

.nav_button {
  display: inline-block;
  padding: 10ps 20px;
  border: 2px solid #eee;
  border-radius: 15px;
  color: #eee;
  background-color: #222;
  transition: background-color 0.3s, color 0.3s;
  padding: 15px;
  text-decoration-line: none;
}

.nav_button:hover, 
.navbar_button:active {
  background-color: #eee;
  color: #222;
}

a, a:visited {
    color: #9c78e3;
    text-decoration: none;
}

a:hover {
    color: #7B68EE; 
}

h1 {
  margin-left: 0px;
  color: #eee;
  text-decoration-line: underline;
}

h2,
h3,
h4,
h5,
h6 {
  color: #eee;
  text-decoration-line: underline;
}

main {
  max-width: 75%;
  text-align: justify;
  margin: 60px auto; 
}

.article-content {
  max-width: 60%;
  text-align: justify;
  margin: 60px auto;
}


.dropdown-button {
  background-color: #222;
  color: #eee;
  padding: 16px; 
  font-size: 16px; 
  border: 2px solid #eee;
  border-radius: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right:0;
  background-color: #222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: #eee;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  right:0;
}

.dropdown-menu a:hover {
  background-color: #eee;
  color: #222;
}

.dropdown:hover .dropdown-menu {display: block;}

.dropdown:hover .dropdown-button {
  background-color: #eee;
  color: #222
}

h1 a {
  color: #eee !important; /* the !important flag overrides any and all conflicting styles! */
}

canvas {
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: white;
}

.general-code-block {
  background-color: #333;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto; /* Enable horizontal scroll for long lines */
}

code {
  display: block; 
  white-space: pre-wrap;
}