body {
  background-image: url('../assets/kitchen.png');
  color: aliceblue;
  font-family: monospace;
  font-size: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0;
}
.vis {
  background-color: black;
  padding: 50px;
  margin: 100px auto;
}
.invis {
  display: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: chartreuse;
}
#game-container {
  position: relative;
  width: 800px;
  height: 600px;
}

#game-canvas {
  border: 1px solid black;
}

#dialogue-box,
#level-display {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
}

#dialogue-box {
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: none;
}

#level-display {
  top: 10px;
  left: 10px;
}

#controls {
  text-align: center;
}
