body {
  background-color: black;
  color: aliceblue;
  font-family: monospace;
  font-size: xx-large;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  margin: 0;
}
.invis {
  display: none;
}
a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: chartreuse;
}
/* nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 200px;
  padding-left: 50px;
  background-color: darkslategray;
  width: 100%;
  height: 100%;
}
.navButtons {
  cursor: pointer;
  padding: 5px;
}
.navButtons:hover {
  background-color: hotpink;
  border-radius: 10px;
  border: 2px solid pink;
}
#darkMode {
  position: absolute;
  right: 100px;
} */
