@media screen and (max-width: 1400px) {
  .learning-resource-card {
    width: 30rem;
  }
}

@media screen and (max-width: 1300px) {
  .hero-text-container {
    width: 70%;
    margin-left: 20rem;
  }
  .hero-header {
    font-size: 7.2rem;
  }

  .about-cards-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* .carousel-container {
    height: 700px;
  } */

  .carousel {
    height: auto;
  }

  .carousel-img-container img {
    max-height: 40rem;
  }

  .learning-resource-card {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  nav {
    margin-top: 0;
    position: absolute;
    left: 100%;
    height: 100vh;
    width: 100%;
    background-color: #f4edea;
    z-index: 1000;
    transition: all 0.7s ease-out;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    right: 5rem;
    top: 5rem;
    cursor: pointer;
    z-index: 1001;
    color: #f4edea;
    stroke: #f4edea;
  }

  .navbar-img-and-title {
    display: none;
  }
  .navbar-links-list {
    flex-direction: column;
    height: 50%;
    /* background-color: black; */
    margin: auto;
    /* height: 100vh; */
    justify-content: space-evenly;
    color: black;
  }

  .navbar-link {
    margin-top: auto;
  }

  .selected::after {
    display: none;
  }

  .show-navbar {
    left: 0;
  }

  .other-colour {
    color: black;
    /* background-color: pink; */
    stroke: black;
  }

  #hero {
    height: 100vh;
  }

  .hero-text-container {
    /* text-align: center; */
    width: 90%;
    transform: translate(0, 0);
    margin: auto;
  }

  .hero-header {
    font-size: 7.2rem;
  }

  .hero-subheading {
    font-size: 1.8rem;
  }

  .about-cards-container {
    gap: 10rem;
  }

  .about-card {
    margin-bottom: 5rem;
    width: 100%;
  }

  .project-card {
    flex-direction: column;
  }

  .project-card {
    grid-template-columns: 1fr;
    border: 1px solid white;
    gap: 0px;
    /* padding: 10px; */
  }

  .project-info {
    padding: 3rem;
  }

  .project-technologies {
    font-size: 2.8rem;
  }

  .main-project-img {
    max-width: 100%;
  }

  .project-heading {
    font-size: 4.2rem;
    text-align: center;
    margin-bottom: 7.2rem;
  }

  .learning-cards-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .learning-resource-card {
    align-self: auto;
    width: 100%;
  }

  .learning-resources-container {
    margin-top: 10rem;
  }

  .learning-resource-info {
    padding-bottom: 1.6rem;
  }

  #info-odin {
    padding-bottom: 3rem;
  }

  .socials-container {
    width: 20%;
  }
}

/* ---------------------- */

@media screen and (max-width: 980px) {
  .carousel-container {
    width: 95%;
  }

  .carousel-img-container img {
    max-height: 40rem;
  }

  .learning-resources-container {
    margin-top: 2rem;
  }
}

.squiggle-one {
  top: 20%;
}

.squiggle-two {
  top: 70%;
}
/* ---------------------- */

@media screen and (max-width: 750px) {
  .carousel-img-container img {
    max-height: 30rem;
  }

  .left-arrow-container {
    position: absolute;
    left: 35%;
    top: 65%;
    /* top: 100%; */
    /* bottom: 10%; */
  }
  .right-arrow-container {
    right: 35%;
    top: 65%;
    position: absolute;
  }

  .carousel-dots-container {
    margin-top: 8rem;
  }

  .carousel-dot {
    width: 0.5rem;
    height: 0.5rem;
  }

  .carousel-folder-choice {
    font-size: 1.6rem;
    gap: 5rem;
  }

  .carousel-folder-choice button {
    font-size: 1.6rem;
  }
}

/* ---------------------- */

@media screen and (max-width: 650px) {
  .hero-header {
    font-size: 4.8rem;
  }

  .hero-subheading {
    max-width: 40rem;
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .first-half-hero::after {
    bottom: 6px;
    height: 4px;
  }

  .second-half-hero::after {
    bottom: 6px;
    height: 4px;
  }

  .squiggle-one {
    width: 5rem;
  }
  .squiggle-two {
    width: 3rem;
  }
  .squiggle-three {
    width: 5rem;
  }
  .squiggle-four {
    width: 3rem;
  }

  .about-cards-container {
    gap: 1rem;
  }

  .about-card {
    margin-bottom: 5rem;
    width: 100%;
  }

  .project-heading {
    margin-bottom: 2.4rem;
  }

  .project-card {
    flex-direction: column;
  }

  /* .project-heading {
      font-size: 42px;
      text-align: center;
      margin-bottom: 72px;
    } */

  .project-paragraph {
    font-size: 1.4rem;
  }
}

/* ---------------------- */
@media screen and (max-width: 580px) {
  .carousel {
    width: 100%;
  }

  .carousel-img-container img {
    max-width: 110%;
  }

  .about-heading {
    font-size: 4rem;
  }
}

/* ---------------------- */

@media screen and (max-width: 450px) {
  .hero-header {
    font-size: 4.2rem;
  }

  .hero-text-container {
    width: 90%;
  }

  .mouse-container {
    bottom: 7rem;
  }

  .project-heading {
    font-size: 3.2rem;
  }

  .projects-subheading {
    margin-bottom: 5rem;
  }

  .project-technologies {
    font-size: 2rem;
  }

  .carousel-img-container img {
    max-height: 20rem;
  }

  .carousel-folder-choice button {
    padding: 0.5rem;
  }
}

.socials-container {
  width: 50%;
}

/* ---------------------- */

@media screen and (max-width: 375px) {
  .hero-header {
    font-size: 3.8rem;
  }

  .about-heading {
    font-size: 3.2rem;
  }

  .project-paragraph {
    line-height: 2rem;
  }

  .carousel-folder-choice button {
    font-size: 1.2rem;
  }
}
