/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #757761;
  color: #f4edea;
  font-family: "Roboto", serif;
  overflow-x: hidden;
}

p {
  letter-spacing: 0.5px;
}

/* .top-wrapper {
  height: 100vh;
  } */

nav {
  margin: 10px auto 0;
  width: 80%;
  display: flex;
  /* position: fixed; */
  align-items: center;
  background-color: #757761;

  height: 100px;
  font-size: 20px;
}

.navbar-img-and-title {
  display: flex;
  margin-right: auto;
  gap: 10px;
  align-items: center;
}

.navbar-img {
  width: 72px;
  margin-right: 42px;
}

.navbar-links-list {
  display: flex;
  list-style: none;
}

.navbar-links-list-item {
  list-style: none;
}

.navbar-link {
  padding: 0 20px;
  position: relative;
  color: inherit;
  text-decoration: none;
}

.selected::after {
  content: "";
  width: 100%;
  height: 4px;

  /* background-color: var(--c-title-underline-color); */
  background: #778da9;

  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 999;
}

.mobile-menu-icon {
  display: none;
}

/*--------------- HERO -------------------------------- */

#hero {
  height: calc(100vh - 110px);
  /* background-color: pink; */
  width: 100%;
  /* margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text-container {
  transform: translate(-20%, -20%);
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}

.hero-header {
  font-size: 96px;
  font-family: "cormorant";
  font-weight: bold;
  margin-bottom: 50px;
  z-index: 900;
  color: white;
  position: relative;
}

.hero-header span {
  position: relative;
  /* z-index: 900; */
  /* animation: bounce 0.45s infinite alternate;
  -webkit-animation: bounce 0.45s infinite alternate; */
}

.first-half-hero {
  position: relative;
  z-index: 1;
  /* margin-right: 10px; */
}

.second-half-hero {
  position: relative;
  /* padding-left: 5px; */
  color: #ffc100;
  z-index: 200;
}

.first-half-hero::after {
  content: "";
  width: 100%;
  height: 7px;

  /* background-color: var(--c-title-underline-color); */
  background: #778da9;

  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: -1;
  animation: showLine 0.95s ease-out, lineDrawToRight 1.3s linear 0.9s,
    removeLineFromLeft 2s forwards 3.6s;
}

.second-half-hero::after {
  content: "";
  width: 100%;
  height: 7px;

  /* background-color: var(--c-title-underline-color); */
  background: #778da9;

  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: -1;

  animation: showLine 2.2s ease-out, lineDrawToRight 1.4s ease-out 2.15s;

  /* animation: name duration timing-function delay iteration-count direction
    fill-mode; */
}

@keyframes lineDrawToRight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes removeLineFromLeft {
  from {
    clip-path: inset(0 0 0 0);
  }
  to {
    clip-path: inset(0 0 0 100%);
  }
}

@keyframes showLine {
  0% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hero-subheading {
  margin-top: 50px;

  font-size: 24px;
}

.mouse-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
}

.mouse {
  position: relative;

  border: black single 1pxi;
  width: 25px;
  height: 50px;
  /* background-color: red; */
  border-radius: 15px;
  border: 2px solid #f4edea;
}

.squiggle-one {
  position: absolute;
  left: 70%;
  top: 30%;
  width: 50px;
}
.squiggle-two {
  position: absolute;
  left: 80%;
  top: 60%;
  width: 50px;
}

.squiggle-three {
  position: absolute;
  left: 30%;
  top: 20%;
  width: 50px;
}

.squiggle-four {
  position: absolute;
  left: 20%;
  top: 70%;
  width: 50px;
}

.mouse::before {
  border-radius: 10000px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: " ";
  width: 6px;
  height: 6px;
  background-color: #f4edea;
  animation: moveDown 1.3s ease infinite;
}

@keyframes moveDown {
  0% {
    transform: translate(-50%, -50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) translateY(25px);
    opacity: 0;
  }
}

/* --------------------------- ABOUT SECTION  --------------------------------------------- */

.section {
  margin: auto;
  width: 80%;
  padding-top: 100px;
  margin-bottom: 120px;
}

.about-heading {
  margin: 0 auto 100px;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  font-family: "cormorant", serif;
}

.about-cards-container {
  display: flex;
  gap: 100px;
}

.about-card {
  width: 50%;
}

.about-card-header {
  text-align: center;
  font-family: "cormorant", serif;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 40px;
}

.about-card-info {
  /* opacity: 0; */
  line-height: 24px;
  /* transition: all 1s; */
}

.unscrolled {
  transition: all 1s ease-out;
  opacity: 0;
}

.hidden {
  transition: all 1s ease-out;
  opacity: 0;
}

.scrolled {
  opacity: 1;
  /* background-color: red; */
  line-height: 24px;
  animation: all 1s;
}

.past-card {
  transform: translateX(-50%);
}

.present-card {
  opacity: 0;
  transform: translateY(50%);
  transition: all 1s;
}

.future-card {
  transform: translateX(50%);
}

.transform-zero {
  transform: translateX(0);
  transition: all 1.3s ease-out;
  opacity: 1;
}

.present-card.transform-zero {
  transform: translateY(0);
  /* transition: all 1s; */
  opacity: 1;
}

/* --------------------------- WORK SECTION  --------------------------------------------- */

#work h1 {
  margin-bottom: 80px;
}

.projects-subheading {
  font-family: "cormorant", sans-serif;
  font-size: 28px;
  margin: auto;
  text-align: center;
  margin-bottom: 120px;
}

.project-card {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-bottom: 100px;
  width: 100%;
}

.project-heading {
  font-size: 64px;
  font-family: "cormorant";
  font-weight: 500;
  margin-bottom: 40px;
}

.project-info {
  /* width: 500px; */
}

.project-technologies {
  font-family: "cormorant", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.project-paragraph {
  font-size: 16px;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.main-project-img {
  max-width: 100%;
}

/* -------------------------------------------------- */

.carousel-container {
  width: 80%;
  height: 800px;
  /* background-color: pink; */
  margin: auto;
}

.carousel {
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
  position: relative;
}

.left-arrow-container {
  width: 10%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

.carousel-img-container img {
  /* max-width: 100%; */
  max-height: 600px;
  display: block;
}

.right-arrow-container {
  width: 10%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-arrow {
  cursor: pointer;
}

.photography-btn {
  background-color: #757761;
  color: #f4edea;
  font-size: 20px;

  padding: 10px;
  cursor: pointer;
  box-shadow: none;
  outline: inherit;
  border: none;
}

.carousel-dots-container {
  margin: auto;
  margin-top: 20px;
  display: flex;
  /* background-color: yellow; */

  justify-content: center;
  width: 50%;
  gap: 20px;
}

.carousel-dot {
  width: 8px;
  height: 8px;
  border: solid 2px #f4edea;
  /* background-color: #f4edea; */
  border-radius: 999px;
}

.full-dot {
  background-color: #f4edea;
}

.bordered {
  border: solid 1px white;
}

.carousel-folder-choice {
  margin-top: 40px;
  display: flex;
  gap: 200px;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------------------- */

footer {
  padding: 20px;
  margin-top: 20px;
  color: black;
  text-align: center;
  width: 100%;
  background-color: #f4edea;
}

.socials-container {
  display: flex;
  justify-content: space-between;
  max-width: 7%;
  margin: auto;
  margin-bottom: 20px;
}

footer a {
  text-decoration: none;
}
