html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 400 to 700 */

body {
  font-family: "orbitron", sans-serif;
  text-transform: uppercase;
  height: 100vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(assets/metal-background.jpg);
  background-size: cover;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 75px;
  animation: flicker 3s infinite alternate;
  color: white;
  margin: 25px auto 25px;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff,
      /* 0 0 11px #fff,
      0 0 19px #fff, */ 0 0 40px #0fa, 0 0 80px #0fa,
      0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: white;
  padding: 50px 50px 0 50px;
  border: solid 10px white;
  line-height: 34px;
  font-weight: 800;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.1)
    ),
    url(assets/modal-background.jpg);
  background-size: cover;
  z-index: 9000;
}
/* 
.modal-container p {
  background-color: black;
} */

.modal-button {
  cursor: pointer;
  padding: 10px 20px;
  margin: 10px auto;
  background-color: white;
  color: black;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  box-shadow: none;
  /* border: solid 5px #eed202; */
}

.game-container {
  background-color: white;
  width: 95%;
  margin: auto;
  position: relative;
}

.game-over-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 10000;
}

.game-over-modal-content {
  text-align: center;
  font-size: 100px;
  font-weight: 900;
  color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

#game-over-btn {
  padding: 30px;
  font-size: 24px;
  cursor: pointer;
  font-family: "orbitron", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  background-color: #000000d5;
  color: #f5f5f5d5;
}

.start-game {
  font-size: 18px;
  margin: auto;
  margin-top: 25px;
  font-weight: bold;
  width: 95%;
}

.start-game {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

#start-button {
  font-family: inherit;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px;
}

.level-choice-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  color: #f5f5f5d5;
}

.user-difficulty-dropdown {
  padding: 10px;
  font-family: inherit;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

#level-counter {
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
  color: #f5f5f5d5;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: space-evenly;
  height: 72.5vh;
}

.level-container {
  color: #f5f5f5d5;
}

.btn {
  /* height: 180px; */
  /* width: 180px; */
  /* border-radius: 100px; */
  /* border: 3px solid; */
  box-shadow: none;
  /* border: none; */
  width: 100%;
  position: relative;
}

.btn:active {
  opacity: 0.8;
  /* box-shadow: 3px 5px #666; */
  /* transform: translateY(4px); */
}

#red {
  background-color: red;
  position: relative;
}

#red::after {
  background-image: url(assets/distressed-background.jpg);
  background-size: cover;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
}

#green {
  background-color: green;
  position: relative;
}

#green::after {
  background-image: url(assets/distressed-background.jpg);
  background-size: cover;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  transform: rotate(180deg);
}

#blue {
  background-color: blue;
  position: relative;
}

#blue::after {
  background-image: url(assets/distressed-background.jpg);
  background-size: cover;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  transform: rotate(180deg);
}

#yellow {
  background-color: yellow;
  position: relative;
}

#yellow::after {
  background-image: url(assets/distressed-background.jpg);
  background-size: cover;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: 900;
}

.transparent {
  opacity: 60%;
  background-image: url(assets/robot.svg);
  background-size: 50%;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  z-index: 900;
}

.hide {
  display: none;
}
