html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: aliceblue;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 400 to 700 */

body {
  font-family: "orbitron", sans-serif;
  text-transform: uppercase;
  background-color: darkslategray;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 75px;
  animation: flicker 3s infinite alternate; 
  color: white;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px #fff,
      /* 0 0 11px #fff,
      0 0 19px #fff, */
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  color: white;
  background-color: white;
  padding: 50px 50px 0 50px;
  border: solid 10px white;
  line-height: 34px;
  font-weight: 800;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(assets/metal-background.jpg);
  background-size: cover;
}
/* 
.modal-container p {
  background-color: black;
} */

.modal-button {
  padding: 10px 20px;
  margin: 10px auto;
  background-color: white;
  color: black;
  font-size: 22px;
  text-align: center;
  font-weight: 600;
  box-shadow: none;
  /* border: solid 5px #eed202; */
}

.start-game {
  font-size: 18px;
  margin-top: 25px;
  font-weight: bold;
  padding: 0 25px;
}

.start-game {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
}

#start-button {
  font-family: inherit;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
  padding: 20px;
}

.level-choice-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.user-difficulty-dropdown {
  padding: 10px;
  font-family: inherit;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

#level-counter {
  margin-top: 10px;
  font-size: 40px;
  text-align: center;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;

  justify-content: space-evenly;
  height: 80vh;
}

.btn {
  /* height: 180px; */
  /* width: 180px; */
  /* border-radius: 100px; */
  /* border: 3px solid; */
  box-shadow: none;
  /* border: none; */
  width: 100%;
}

.btn:active {
  opacity: 0.8;
  /* box-shadow: 3px 5px #666; */
  /* transform: translateY(4px); */
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

.transparent {
  opacity: 60%;
}

.hide {
  display: none;
}
