body {
  background-color: aliceblue;
}

/* <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 400 to 700 */

h1 {
  display: flex;
  justify-content: center;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 70px;
}

.paragraph-container,
.start-game {
  font-family: "Pixelify Sans", sans-serif;
  margin: 25px;
  /* font-weight:bold; */
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

.btn {
  height: 120px;
  width: 120px;
  border-radius: 100px;
  border: 3px solid;
  box-shadow: 3px 10px #5e5c5c;
}

.btn:active {
  box-shadow: 3px 5px #666;
  transform: translateY(4px);
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

.transparent {
  opacity: 60%;
}
